CORE/*.cache
CORE/*.hw
CORE/*.runs
CORE/*.sim
CORE/.Xil
CORE/vivado*.jou
CORE/vivado*.log
CORE/vivado_pid*
CORE/*ip_user_files
CORE/webtalk*.*
CORE/m2m-rom/*.def
CORE/m2m-rom/*.lis
CORE/m2m-rom/*.out
CORE/m2m-rom/*.rom
CORE/m2m-rom/globals.asm
CORE/m2m-rom/shell_fhandles.asm
CORE/m2m-rom/shell_fh_ptrs.asm
CORE/load_bitstream.sh
CORE/make_qasm.sh
M2M/rom/*.lis
M2M/rom/*.out
M2M/rom/*.rom
M2M/video_filters/*.out
