MEGA65/*.cache
MEGA65/*.hw
MEGA65/*.runs
MEGA65/*.sim
MEGA65/.Xil
MEGA65/vivado*.jou
MEGA65/vivado*.log
MEGA65/vivado_pid*
MEGA65/*ip_user_files
MEGA65/webtalk*.*
MEGA65/m2m-rom/*.def
MEGA65/m2m-rom/*.lis
MEGA65/m2m-rom/*.out
MEGA65/m2m-rom/*.rom
MEGA65/load_bitstream.sh
M2M/rom/*.lis
M2M/rom/*.out
M2M/rom/*.rom
M2M/video_filters/*.out
